h1{
    text-align: center;
    margin-top: 35px;
    color: black;
}

.para{
    text-align: justify;
    font-size: 20px;
    color: black;
}

.para1{
    text-align: justify;
    font-size: 35px;
    color: black;
}

ul li{
font-size: 20px;
}